[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python = "*"
numpy = "*"
statistics = "*"
requests = "*"
processing = "*"
multiprocessing = "*"

[requires]
python_version = "2.7"
